* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #F0F0F0;
  --bg-url: url('../assets/bg-mobile-dark.png');
  --stroke-color: rgba(255, 255, 255, .5);
  --surface-color: rgba(255, 255, 255, .1);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color: rgba(255, 255, 255, .2);
  --switch-bg-url: url(../assets/moon-stars.svg);
}

.light {
  --bg-url: url('../assets/bg-mobile-light.png');
  --text-color: black;
  --stroke-color: rgba(0, 0, 0, .5);
  --surface-color: rgba(0, 0, 0, .05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, .1);
  --switch-bg-url: url(../assets/sun.svg);
}

body {
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

body * {
  font-family: 'Inter';
  color: var(--text-color);
}

.container {
  width: 100%;
  max-width: 36.75rem;
  padding: 0 1.5rem;
  /* margin: 3.5rem auto 0px; */
}

.profile {
  text-align: center;
  padding: 1.5rem;
}

.avatar {
  width: 112px;
  height: 112px;
  margin: .5rem auto;

  display: flex;

  border: .25rem solid #ffffff50;
  border-radius: 50%;
}

.avatar img {
  border-radius: 50%;
}

.info p {
  font-weight: 500;
  text-align: center;
}

main {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.switch {
  width: 4rem;
  margin: .25rem auto;
  position: relative;
}

.switch button {
  width: 2rem;
  height: 2rem;

  background: #fff var(--switch-bg-url) no-repeat center;

  border: 0;
  border-radius: 50%;

  top: 50%;
  left: 0;
  z-index: 1;
  position: absolute;
  transform: translateY(-50%);

  animation: slide-back .4s;
}

.switch button:hover {
  outline: 8px solid var(--highlight-color)
}

.switch span {
  width: 4rem;
  height: 1.5rem;

  display: block;

  border: 1px solid var(--stroke-color);
  border-radius: 9999px;

  background: var(--surface-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.light .switch button {
  animation: slide-in 0.4s forwards;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.links a {
  width: 100%;
  margin-bottom: 1rem;
  padding: 1rem 1.5rem;

  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  background-color: var(--surface-color);

  text-decoration: none;
  text-align: center;
  font-weight: 500;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.links a:hover {
  background-color: var(--surface-color-hover);
  border: 1px solid var(--text-color);

  transition: background .2s;
}

.social {
  display: flex;
  justify-content: center;

  font-size: 2.25rem;
}

.social a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem;
}

.social a:hover {
  border-radius: 50%;
  border: none;

  background-color: var(--highlight-color);

  transition: background .2s;
}

footer {
  padding: 1.5rem;
  text-align: center;
}

footer a:hover {
  opacity: .75;
}

/* Media Queries */

@media (min-width: 700px) {
  :root {
    --bg-url: url(../assets/bg-desktop-dark.jpg);
  }

  .light {
    --bg-url: url(../assets/bg-desktop-light.jpg);
  }
}

/* Animations */

@keyframes slide-in {
  form {
    left: 0;
  }

  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }

  to {
    left: 0;
  }
}